*.[oa]
*.lo
*.la
*~
Makefile
.libs
.deps
*.log
*.trs
aclocal.m4
autom4te.cache/
config.status
doc/manual_eqtlbma.info
doc/manual_eqtlbma.t2p/
doc/manual_eqtlbma.pdf
doc/stamp-vti
doc/version.texi
eqtlbma-*.tar.gz
src/bf
src/hm
src/simul_flutre_et_al
.Rhistory
