*.[oa]
*~
Makefile
.deps
*.log
*.trs
aclocal.m4
autom4te.cache/
config.status
doc/manual_eqtlbma.info
doc/stamp-vti
doc/version.texi
eqtlbma-*.tar.gz
src/eqtlbma
src/hm
src/simul_flutre_et_al
.Rhistory
